nav{
  background-color: hsl(190, 50%, 50%);

  border-radius: 1em;
}

.subtle-debug{
  color: hsl(190, 50%, 90%);
  font-size: 0.5em;
}

.home-logo-div{
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);  
  
}

.bookswap-home{

  position: relative;
  text-align: center;
  color: hsl(190, 70%, 20%);
}

.book-smallThumbnail{
  height: 10em;
}

.book-card{
    position: relative;
    width: 360px;
    margin:20px;
    padding: 20px;
    transition: box-shadow 300ms;

}

.library-books{
    column-gap: 1em;
}