nav{
  background-color: hsl(190, 50%, 50%);

  border-radius: 1em;
}

.book-smallThumbnail{
  height: 10em;
}

.book-card{
    position: relative;
    width: 360px;
    margin:20px;
    padding: 20px;
    transition: box-shadow 300ms;

}

.library-books{
    column-gap: 1em;
}